* {
    margin: 0;
    background-image: url(asset/bg-welcome.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
}

.logo {
    text-align: center;
}

.logo img {
    background: none;
    width: auto;
    height: 200px;
    display: inline-block;
    margin-top: 20px;
}