* {
    margin: 0;
    background-image: url(asset/bg-welcome.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
}